<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicholasworkshop.downloader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="true"/>

<!--    <uses-amzn-sdk android:minSdkVersion="0" />-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <activity
            android:name=".activity.MainActivity"
            android:banner="@drawable/banner"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:exported="true"
            android:logo="@mipmap/ic_launcher"
            android:theme="@style/Theme.Leanback.Browse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>